* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Outfit;
  src: url(../../fonts/Outfit-VariableFont_wght.ttf); }

body {
  font-family: 'Outfit'; }

/*---- MOBILE ----*/
@media screen and (max-width: 375px) {
  .main {
    height: 95vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #0d192b; }
    .main .card {
      margin-top: 60px;
      margin-bottom: 60px;
      max-width: 90%;
      background-color: #14253d;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      border-radius: 15px;
      box-shadow: 0px 40px 30px 30px #0d162b; }
      .main .card .container {
        max-width: 88%; }
        .main .card .container .image {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          max-width: 300px;
          height: 310px;
          background-image: url(../../images/image-equilibrium.jpg);
          background-size: cover;
          margin-top: 20px;
          border-radius: 10px; }
          .main .card .container .image svg {
            display: none; }
          .main .card .container .image:hover {
            cursor: pointer;
            background: linear-gradient(rgba(0, 255, 247, 0.5), rgba(0, 255, 247, 0.5)), url(../../images/image-equilibrium.jpg);
            background-size: cover; }
            .main .card .container .image:hover svg {
              display: inline; }
        .main .card .container .div1 {
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: stretch;
          gap: 15px; }
          .main .card .container .div1 h1 {
            color: white;
            font-size: 25px;
            font-weight: 500; }
            .main .card .container .div1 h1:hover {
              color: #00fff7;
              cursor: pointer; }
          .main .card .container .div1 p {
            color: #8bacda;
            font-weight: 300;
            font-size: 16px;
            line-height: 30px; }
            .main .card .container .div1 p span {
              color: white; }
        .main .card .container .div2 {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          color: #8bacda; }
          .main .card .container .div2 div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            font-weight: normal;
            font-size: 18px; }
          .main .card .container .div2 div:first-of-type {
            color: #00fff7; }
          .main .card .container .div2 div:last-of-type {
            font-weight: 300; }
        .main .card .container hr {
          margin-top: 15px;
          width: 100%;
          color: #2f415b; }
        .main .card .container .div3 {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          margin-top: 15px;
          margin-bottom: 25px; }
          .main .card .container .div3 img {
            margin-top: 0;
            max-width: 13%;
            border: solid 1px white;
            border-radius: 50%; }
          .main .card .container .div3 p {
            color: #8bacda; }
            .main .card .container .div3 p span {
              color: white; }
              .main .card .container .div3 p span:hover {
                color: #00fff7;
                cursor: pointer; } }

@media screen and (min-width: 375px) {
  .main {
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #0d192b; }
    .main .card {
      max-width: 350px;
      margin-top: 150px;
      margin-bottom: 150px;
      background-color: #14253d;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 40px 30px 30px #0d172b; }
      .main .card .container {
        max-width: 88%; }
        .main .card .container .image {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          width: 310px;
          height: 310px;
          background-image: url(../../images/image-equilibrium.jpg);
          background-size: cover;
          margin-top: 20px;
          border-radius: 10px; }
          .main .card .container .image svg {
            display: none; }
          .main .card .container .image:hover {
            cursor: pointer;
            background: linear-gradient(rgba(0, 255, 247, 0.5), rgba(0, 255, 247, 0.5)), url(../../images/image-equilibrium.jpg);
            background-size: cover; }
            .main .card .container .image:hover svg {
              display: inline; }
        .main .card .container .div1 {
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: stretch;
          gap: 15px; }
          .main .card .container .div1 h1 {
            color: white;
            font-size: 25px;
            font-weight: 500; }
            .main .card .container .div1 h1:hover {
              color: #00fff7;
              cursor: pointer; }
          .main .card .container .div1 p {
            color: #8bacda;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px; }
            .main .card .container .div1 p span {
              color: white; }
        .main .card .container .div2 {
          margin-top: 25px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          color: #8bacda; }
          .main .card .container .div2 div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            font-weight: normal;
            font-size: 18px; }
          .main .card .container .div2 div:first-of-type {
            color: #00fff7; }
          .main .card .container .div2 div:last-of-type {
            font-weight: 300; }
        .main .card .container hr {
          margin-top: 25px;
          width: 100%;
          color: #2f415b; }
        .main .card .container .div3 {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          margin-top: 15px;
          margin-bottom: 25px; }
          .main .card .container .div3 img {
            margin-top: 0;
            max-width: 13%;
            border: solid 1px white;
            border-radius: 50%; }
          .main .card .container .div3 p {
            color: #8bacda; }
            .main .card .container .div3 p span {
              color: white; }
              .main .card .container .div3 p span:hover {
                color: #00fff7;
                cursor: pointer; } }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    text-decoration: none;
    color: #3e52a3; }
