// Colors
//Primary
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral
// Main Background:
$main-bg: hsl(217, 54%, 11%);
// Card Background:
$card-bg: hsl(216, 50%, 16%);
// Line:
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

//Footer:
$a-color: hsl(228, 45%, 44%);

// Font Size:
$h1-font-size: 25px;
$p-font-size: 18px;
$p1-font-size: 16px;